<?xml version="1.0" encoding="utf-8"?>
<TextureAtlas imagePath="spring.png">
	<!-- Created with Adobe Animate version 22.0.6.202 -->
	<!-- http://www.adobe.com/products/animate.html -->
	<SubTexture name="adanceLeft0000" x="5" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0001" x="5" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0002" x="5" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0003" x="239" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0004" x="239" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0005" x="239" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0006" x="473" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0007" x="473" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0008" x="473" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0009" x="707" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0010" x="707" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0011" x="707" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0012" x="941" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0013" x="941" y="5" width="229" height="242"/>
	<SubTexture name="adanceLeft0014" x="941" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0000" x="1175" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0001" x="1175" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0002" x="1175" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0003" x="1409" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0004" x="1409" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0005" x="1409" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0006" x="1643" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0007" x="1643" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0008" x="1643" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0009" x="707" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0010" x="707" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0011" x="707" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0012" x="941" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0013" x="941" y="5" width="229" height="242"/>
	<SubTexture name="adanceRight0014" x="941" y="5" width="229" height="242"/>
	<SubTexture name="adown0000" x="5" y="252" width="249" height="223"/>
	<SubTexture name="adown0001" x="5" y="252" width="249" height="223"/>
	<SubTexture name="adown0002" x="5" y="252" width="249" height="223"/>
	<SubTexture name="adown0003" x="259" y="252" width="249" height="223"/>
	<SubTexture name="adown0004" x="259" y="252" width="249" height="223"/>
	<SubTexture name="adown0005" x="259" y="252" width="249" height="223"/>
	<SubTexture name="adown0006" x="259" y="252" width="249" height="223"/>
	<SubTexture name="aleft0000" x="513" y="252" width="249" height="223"/>
	<SubTexture name="aleft0001" x="513" y="252" width="249" height="223"/>
	<SubTexture name="aleft0002" x="513" y="252" width="249" height="223"/>
	<SubTexture name="aleft0003" x="767" y="252" width="249" height="223"/>
	<SubTexture name="aleft0004" x="767" y="252" width="249" height="223"/>
	<SubTexture name="aleft0005" x="767" y="252" width="249" height="223"/>
	<SubTexture name="aleft0006" x="767" y="252" width="249" height="223"/>
	<SubTexture name="aleft0007" x="767" y="252" width="249" height="223"/>
	<SubTexture name="aright0000" x="1021" y="252" width="249" height="223"/>
	<SubTexture name="aright0001" x="1021" y="252" width="249" height="223"/>
	<SubTexture name="aright0002" x="1021" y="252" width="249" height="223"/>
	<SubTexture name="aright0003" x="1275" y="252" width="249" height="223"/>
	<SubTexture name="aright0004" x="1275" y="252" width="249" height="223"/>
	<SubTexture name="aright0005" x="1275" y="252" width="249" height="223"/>
	<SubTexture name="aright0006" x="1275" y="252" width="249" height="223"/>
	<SubTexture name="aup0000" x="1529" y="252" width="249" height="223"/>
	<SubTexture name="aup0001" x="1529" y="252" width="249" height="223"/>
	<SubTexture name="aup0002" x="1529" y="252" width="249" height="223"/>
	<SubTexture name="aup0003" x="1783" y="252" width="249" height="223"/>
	<SubTexture name="aup0004" x="1783" y="252" width="249" height="223"/>
	<SubTexture name="aup0005" x="1783" y="252" width="249" height="223"/>
	<SubTexture name="aup0006" x="1783" y="252" width="249" height="223"/>
	<SubTexture name="danceLeft0000" x="5" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0001" x="5" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0002" x="5" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0003" x="259" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0004" x="259" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0005" x="259" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0006" x="513" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0007" x="513" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0008" x="513" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0009" x="767" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0010" x="767" y="480" width="249" height="233"/>
	<SubTexture name="danceLeft0011" x="767" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0000" x="1021" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0001" x="1021" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0002" x="1021" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0003" x="1275" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0004" x="1275" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0005" x="1275" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0006" x="1529" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0007" x="1529" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0008" x="1529" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0009" x="767" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0010" x="767" y="480" width="249" height="233"/>
	<SubTexture name="danceRight0011" x="767" y="480" width="249" height="233"/>
	<SubTexture name="down0000" x="1783" y="480" width="249" height="233"/>
	<SubTexture name="down0001" x="1783" y="480" width="249" height="233"/>
	<SubTexture name="down0002" x="1783" y="480" width="249" height="233"/>
	<SubTexture name="down0003" x="5" y="718" width="249" height="233"/>
	<SubTexture name="down0004" x="5" y="718" width="249" height="233"/>
	<SubTexture name="down0005" x="5" y="718" width="249" height="233"/>
	<SubTexture name="left0000" x="259" y="718" width="249" height="233"/>
	<SubTexture name="left0001" x="259" y="718" width="249" height="233"/>
	<SubTexture name="left0002" x="259" y="718" width="249" height="233"/>
	<SubTexture name="left0003" x="513" y="718" width="249" height="233"/>
	<SubTexture name="left0004" x="513" y="718" width="249" height="233"/>
	<SubTexture name="left0005" x="513" y="718" width="249" height="233"/>
	<SubTexture name="right0000" x="767" y="718" width="249" height="233"/>
	<SubTexture name="right0001" x="767" y="718" width="249" height="233"/>
	<SubTexture name="right0002" x="767" y="718" width="249" height="233"/>
	<SubTexture name="right0003" x="1021" y="718" width="249" height="233"/>
	<SubTexture name="right0004" x="1021" y="718" width="249" height="233"/>
	<SubTexture name="right0005" x="1021" y="718" width="249" height="233"/>
	<SubTexture name="up0000" x="1275" y="718" width="249" height="233"/>
	<SubTexture name="up0001" x="1275" y="718" width="249" height="233"/>
	<SubTexture name="up0002" x="1275" y="718" width="249" height="233"/>
	<SubTexture name="up0003" x="1529" y="718" width="249" height="233"/>
	<SubTexture name="up0004" x="1529" y="718" width="249" height="233"/>
	<SubTexture name="up0005" x="1529" y="718" width="249" height="233"/>
</TextureAtlas>
